
.btn-success {
    background-color: #f4bf00;
    border-color: #f4bf00;
}

.login-head {
    background-color: #f4bf00 !important;
}

.btn-success:hover, .btn-success:focus,
.btn-success.focus, .btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #f4bf00;
    border-color: #fff;
}

.nav-wrapper {
    background-color: #666;
}

.map-dashboard {
    background-color: #666;
    padding: 10px;
}
.subscribe{
    background-color: #666;
}

.sidebar > .nav > li.active {
    border-left-color: #f4bf00;
}

.topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 #f4bf00 inset;
}

.topnavbar .navbar-header {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, #f4bf00 0%, #f4bf00 100%);
    background-image: -o-linear-gradient(left, #f4bf00 0%, #f4bf00 100%);
    background-image: linear-gradient(to right, #f4bf00 0%, #666 100%);
    background-repeat: repeat-x;
    color: #f4bf00;
}

.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus,
.sidebar > .nav > li.active > a > em,
.sidebar > .nav > li.open > a > em,
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item,
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
    color: #000;
}

.sidebar > .nav > li.active, .sidebar > .nav > li.open, .sidebar > .nav > li.active > a, .sidebar > .nav > li.open > a, .sidebar > .nav > li.active .nav, .sidebar > .nav > li.open .nav {
    background-color: #fcfcfc;
    color: #f4bf00;
}

.sidebar > .nav > li > a:focus, .sidebar > .nav > li > .nav-item:focus, .sidebar > .nav > li > a:hover, .sidebar > .nav > li > .nav-item:hover {
    text-decoration: none;
    outline: none;
    color: #f4bf00;
}

.btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #f4bf00;
    border-color: #f4bf00;
}

.text-info, .form-control:focus {
    border-color: #f4bf00;
    color: #f4bf00;
}

/*.table-hover > tbody > tr:hover {
    background-color: #f04f7e;
    color: white;
}*/

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #f4bf00;
    border-color: #f4bf00;
}

li > .pull-left > .btn-info {
    background-color: #dde6e9;
    border-color: #dde6e9;
    color: #333333;
}
/* (cs)spinner.css - http://jh3y.github.io/-cs-spinner
  Licensed under the MIT license | Jhey Tompkins (c) 2014. */
body {
    /* (cs)spinner base styling */
}
body .whirl {
    position: relative;
}
body .whirl:before {
    content: attr(data-spinner-text);
    display: block;
    background-color: #f0f0f0;
    opacity: 0.7;
}
body .whirl.solid {
    opacity: 1;
}
.no-cssanimations body .whirl:before {
    opacity: .9;
}
.no-cssanimations body .whirl:after {
    content: "Loading...";
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    line-height: 40px;
    color: #000;
    opacity: 1;
    border: 0;
    box-shadow: 0 0 0 #000;
    background-color: transparent;
    text-align: center;
}
.login-btn {
    color: #fff;
}
.login-btn:active {
    border: solid;
}

#slides_control > div{
    height: 200px;
}
img{
    margin:auto;
    width: 400px;
}
#slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
    margin-left:-200px;
}


/*Advance map styles*/

.angular-google-map-container {
    width: 100%;
    height: 500px;
}
.inline-block{
    display: inline-block;
}
.form-control{
    padding-left: 10px;
}
.col-md-3{
    width: 40%;
}
.cityBox{
    width: 100%;
    float: right;
}
.centerDiv{
    margin-top: 150px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff;
    opacity: 1;
}
.bgimage{
    width: 96%;
}
.startTimepicker{
    float: left;
    margin-right: 20px;
}
.endTimepicker{

    margin-left: 20px;
}
.timepickerLabel{
    margin-top: 39px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #929292;
}
.mt0{
    color: #F6D21A;
}
::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}

/* Different color for some fields */

#abc::-webkit-input-placeholder
{
    color:    #909fa7;
}
.timpickerDiv{
    margin-top: 24px;
}



.img-logo {
    width: auto;
    max-height: 35px;
}

#datatable2 tfoot {
    display: table-caption;
}

#inputTags, #inputAccess {
    float: left !important;
}

#inputAccessLabel {
    margin-left: 35px;
    margin-right: 5px;
}

.link_color {
    color: #656565;
}

.link_color:hover {
    text-decoration: none;
}


.login_btn{
    background: #F6D21A;
}
.login_btn:hover{
    background: #F6D21A;
    border-color: #F6D21A;
}
.login_btn:focus{
    background: #F6D21A;
    border-color: #F6D21A;
}
#pricing > tbody > tr:hover {
    background-color: #51c6ea;
    color: #272727;
}
.fareList {
    color: #F4BF00;
}
.angular-google-map-container {
    width: 100%;
    height: 500px;
}

.infoWindowContent{
    color: #F6D21A;
}
.driverImg{
    width: 50px;
    height: 50px;
}
.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 190% !important;
    text-align: center
}
.fa-circle:before{
    font-size: 11px;
}



/*
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body ::-webkit-input-placeholder {
    */
/* WebKit browsers *//*

    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body :-moz-placeholder {
    */
/* Mozilla Firefox 4 to 18 *//*

    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body ::-moz-placeholder {
    */
/* Mozilla Firefox 19+ *//*

    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body :-ms-input-placeholder {
    */
/* Internet Explorer 10+ *//*

    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
.wrapper {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
}
.wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
    -ms-transform: translateY(85px);
    transform: translateY(85px);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}
.container h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}
form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}
form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}
form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
}
form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
form button:hover {
    background-color: #f5f7f9;
}
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}
@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
*/
