<h3>
    Add Promo Code
</h3>
<div class="row" ng-controller="addPromoController">
    <div class="col-lg-6">
        <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
        <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
        <div class="panel panel-default">

            <div class="radio c-radio form-group"  ng-init="type=true" style="padding-top: 10px">
                <label class="col-sm-2 sr-only">Type</label>
                <label class="col-sm-4">
                    <input type="radio" ng-model="type" ng-change="status(0)"  name="optionsRadios" ng-value="true" style="width: 20px"
                           checked="" />
                    <span class="fa fa-check"></span>Discount</label>
                <label class="col-sm-4">
                    <input type="radio" ng-model="type" ng-change="status(1)"  name="optionsRadios" ng-value="false" style="width: 20px"
                           checked="" />
                    <span class="fa fa-check"></span>Credit</label>
            </div>

            <form>

                <div class="panel-body">
                    <h5 class="dateLbl">Start Date<span class="astrick">*</span></h5>

                    <div class="row form-group dtpicker">
                        <div class="col-md-12">
                            <p class="input-group">
                                <input type="text" readonly="" id="start_date" datepicker-popup="{{format}}"
                                       ng-model="add.startTime"
                                       is-open="datepicker.dt1"
                                       min-date="min_date"
                                       max-date="endTime" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                       ng-required="true" close-text="Close" class="form-control disableFieldColor"/>
            <span class="input-group-btn">
               <button type="button" ng-click="openDt1($event)" class="btn btn-default">
                   <em class="fa fa-calendar"></em>
               </button>
            </span>
                            </p>
                        </div>
                    </div>
                    <h5 class="dateLbl">End Date<span class="astrick">*</span></h5>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <p class="input-group">
                                <input type="text" readonly="" id="end_date" datepicker-popup="{{format}}"
                                       ng-model="add.endTime"
                                       is-open="datepicker.dt2"
                                       min-date="add.startTime"
                                       max-date="maxDate" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)"
                                       ng-required="true" close-text="Close" class="form-control disableFieldColor"/>
            <span class="input-group-btn">
               <button type="button" ng-click="openDt2($event)" class="btn btn-default">
                   <em class="fa fa-calendar"></em>
               </button>
            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </form>

            <form method="post" ng-submit="addPromo(add)" validate-form="" novalidate="" id="add-promo">
                <!-- START panel-->
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text"  name="name" required="required"
                                class="form-control"
                                ng-model="add.name"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Vehicle</label>
                        <select id="vehicleType" ng-init="add.vehicleType='BIKE'" ng-model="add.vehicleType"
                                required="required"
                                placeholder="Vehical Type" name="vehicleType" class="form-control">
                            <option value="ALL">All</option>
                            <option value="BIKE">Bike</option>
                            <option value="VAN">Van</option>
                            <option value="TRUCK">Truck</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">City</label>
                        <select id="city" ng-init="add.city='Dubai'" ng-model="add.city"
                                required="required"
                                placeholder="City" name="city" class="form-control">
                            <option value="Dubai">Dubai</option>
                            <option value="Abu Dhabi">Abu Dhabi</option>
                            <option value="Sharjah">Sharjah</option>
                            <option value="Ras Al Khaimah">Ras Al Khaimah</option>
                            <option value="Fujairah">Fujairah</option>
                            <option value="Ajman">Ajman</option>
                            <option value="Umm Al Quwain">Umm Al Quwain</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Minimum Amount</label>
                        <input  name="duration"  ng-init="add.minAmount='0'" required="required" numbers-only="" data-parsley-type="number"
                               class="form-control"
                               ng-model="add.minAmount"/>
                    </div>
                    <div class="form-group" ng-hide="show">
                        <label class="control-label">Discount</label>
                        <input name="discount"  ng-init="add.discount='0'" required="required" numbers-only="" data-parsley-type="number"
                               class="form-control"
                               ng-model="add.discount"/>
                    </div>
                    <div class="form-group" ng-show="show">
                        <label class="control-label">Credit</label>
                        <input name="credits"  ng-init="add.credits='0'" required="required" numbers-only="" data-parsley-type="number"
                               class="form-control"
                               ng-model="add.credits"/>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit"  class="btn btn-success">Add Promo</button>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </div>
</div>

<!-- **************************************************************************
******************* Modal to display msg for conflict **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_failure_conflict_msg">
    <div class="ngdialog-message">
        <h4>Promo Code Already exist.</h4>
        <button type="submit" ng-click="closeThisDialog(0)" class="btn btn-success"
                style="margin-top:20px;float:right;">OK
        </button>
        <div style="clear: both;"></div>
    </div>
</script>