<span ng-controller="customersController" >

    <div ng-controller="customersController" class="ngdialog-message headerMargin"><h3 ng-bind="name"></h3>
        <h3 class="page-header" id="page-header-techServices">Customers List
            <a ng-click="exportData()" class="btn btn-success pull-right headerButtonMargin">Export To CSV</a>
            <a ng-click="addCreditDialog()" class="btn btn-success pull-right" style="margin: -5px 10px 0 0">Add Credit</a>
            <span style="font-size: small;float: right;margin: 5px 70px 0 0"><span class="base-color">Vikas</span> was the last person to edit this table on <span class="base-color">Oct 28</span></span>
        </h3>
<!--<h3 style="margin-top: -15px">
    Customers List
    &lt;!&ndash;<small>Displaying list of all customers.</small>&ndash;&gt;
</h3>
<div >
    <button ng-click="exportData()" class="pull-right btn btn-sm btn-success" style="float: right; margin-top: -40px"
           >Export To CSV
    </button>
    <button ng-click="addCreditDialog()" type="button" class="pull-right btn btn-sm btn-success"
            style="float: right;margin: -40px 110px 0 0">Add Credit
    </button>
</div>-->
<div ng-init="init()" class="container-fluid">
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" ng-class="{'whirl standard' : loading }">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th hidden="hidden">ID</th>
                            <th>Customer Name</th>
                            <!--<th>Service Date</th>-->
                            <th>Email</th>
                            <th>Mobile No</th>
                            <th>Credits</th>
                            <th>Status</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">
                            <td>{{$index + 1}}</td>
                            <td hidden="hidden">{{data._id}}</td>
                            <td>{{data.fullName}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.phoneNumber}}</td>
                            <td>{{data.credits}}</td>
                            <td>{{data.isDeleted}}</td>
                            <td style="text-align: center;">
                                <button ng-click="editData(data)" title="Edit" class="btn btn-sm btn-success">
                                    <em class="fa fa-pencil"></em>
                                </button>
                                <button ng-hide="{{data.isBlocked}}" ng-click="blockCust(data.email)"
                                        title="Block" class="btn btn-sm btn-warning">
                                    <em class="fa fa-unlock"></em>
                                </button>
                                <button ng-show="{{data.isBlocked}}" ng-click="blockCust(data.email)"
                                        title="Unblock" class="btn btn-sm btn-warning">
                                    <em class="fa fa-lock"></em>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</span>

<!-- **************************************************************************
******************* Modal to add credit ***********************************
*******************************************************************************-->
<script type="text/ng-template" id="addCredit">
    <div class="ngdialog-message">
        <h3>Add Credit</h3>

        <div class="panel panel-default">
            <form method="post" validate-form="" novalidate="" ng-submit="addCredit(data)">

                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label">Email Id</label>
                        <input type="email" name="busi_pro_name" required="required" class="form-control"
                               ng-model="data.email" capitalize-first/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Credit</label>
                        <input type="text" name="busi_desc" required="required" class="form-control"
                               ng-model="data.credit" data-parsley-type="number" numbers-only=""/>
                    </div>
                </div>
                <div class="panel-footer btn-align">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                    </button>
                    <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">
                        {{successMsg}}
                    </div>
                    <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px;">
                        {{errorMsg}}
                    </div>
                </div>
            </form>
        </div>

    </div>
</script>

<!---------------- Start Edit Customer View--------------------->

<script type="text/ng-template" id="modalDialogId">
    <form method="post" validate-form="" novalidate="" ng-submit="editCustomer()">
        <div class="ngdialog-message">
            <div class="panel-body">

                <div class="panel-heading" style="font-weight: bolder; color: gray">
                    <h4>Edit Customer Details</h4>
                </div>
                <form method="post" ng-submit="editCustomer(pop)" validate-form=""
                      novalidate="" id="add-promo">
                    <!-- START panel-->
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-lg-6 padding-left">
                                    <label class="control-label">First Name</label>
                                    <input  name="firstName" required="required"
                                            class="form-control"
                                            ng-model="pop.firstName"/>
                                </div>
                                <div class="col-lg-6 padding-right">
                                    <label class="control-label">Last Name</label>
                                    <input  name="lastName" required="required"
                                            class="form-control"
                                            ng-model="pop.lastName"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input name="email" ng-disabled="1" required="required"
                                   class="form-control"
                                   ng-model="pop.email"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone No.</label>
                            <input name="phoneNumber" required="required"
                                   class="form-control" numbers-only=""
                                   ng-model="pop.phoneNumber"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Credits</label>
                            <input name="credits" required="required"
                                   class="form-control" numbers-only=""
                                   ng-model="pop.credits"/>
                        </div>
                    </div>

                    <!-- END panel-->
                </form>

            </div>
            <button type="submit" class="btn btn-success mr" style="margin-left: 25px">Save
            </button>
            <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">
                Cancel
            </button>
        </div>
    </form>
</script>

<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_msg">
    <div class="ngdialog-message">
        <h4>{{displaymsg2}}</h4>
        <button type="submit" ng-click="$state.reload() && closeThisDialog(0)" class="btn btn-success"
                style="margin-top:20px;float:right;">OK
        </button>

        <div style="clear: both;"></div>
    </div>
</script>

