<h3>
    Mashaweer Dashboard
    <small>Welcome to Mashaweer</small>
</h3>
<!--/*----- WIDGET DATA -----*/-->
<div ng-controller="dashboardController">
    <div class="Heading">
        <h4>Today's Data</h4>
    </div>
    <div class="row state-overview" id="first_state_overview1" style="z-index: 1000000;">
        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-primary">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em class="icon fa fa-truck fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalOrder }}</div>
                        <div class="text-uppercase">Total Orders</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="icon fa fa-truck fa-3x"></em>
                        <em class="icon fa fa-check"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalCompletedOrder }}</div>
                        <div class="text-uppercase">Assigned Orders</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-green">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green-dark pv-lg">
                        <em class="icon fa fa-truck fa-3x"></em>
                        <em class="icon fa fa-bell"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalUnAssignedOrder }}</div>
                        <div class="text-uppercase">Unassigned Orders</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-primary">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em class="icon fa fa-automobile fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalOnlineDriver}}</div>
                        <div class="text-uppercase">Live Drivers</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="icon fa fa-users fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalNewCustomer }}</div>
                        <div class="text-uppercase">New Customers</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-green">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green-dark pv-lg">
                        <em class="icon fa fa-try fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalRevenue }}</div>
                        <div class="text-uppercase">Total Revenue</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>


</div>

<div class="row" ng-controller="MapCircleController">
    <!-- START dashboard main content-->
    <div class="col-lg-9">
        <!-- START chart-->
        <div class="row">
            <div class="col-lg-12">
                <!-- START widget-->
                <div class="panel widget bg-primary">
                    <div>
                        <div class="panel-body map-dashboard">
                            <div id="map-container" style="height:600px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END dashboard main content-->
    <!-- START dashboard sidebar-->
    <aside class="col-lg-3">
        <!-- START messages and activity-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Live Drivers</div>
            </div>
            <!-- START list group-->
            <div class="list-group" style="height: 530px">
                <!-- START list group item-->
                <div class="list-group-item" ng-repeat="data in list">
                    <div class="media-box">
                        <div class="pull-left">
                            <img src="{{data.profilePicture}}" class="img-thumbnail img-circle driverImg">
                        </div>
                        <div class="media-box-body clearfix" style="margin-top: 5px">
                            <em class="fa fa-circle fa-stack-2x text-yellow" ng-hide="{{data.status}}"
                                title="Busy"></em>
                            <em class="fa fa-circle fa-stack-2x text-green" ng-show="{{data.status}}" title="Free"></em>

                            <div class="media-box-heading"><a href="#" class="text-purple m0">{{data.fullName}}</a>
                            </div>
                            <p class="m0">
                                <small><a href="#">{{data.phoneNumber}}</a>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
            </div>
            <!-- END list group-->
            <!-- START panel footer-->
            <div class="panel-footer clearfix">
                <small>Scroll Down to show more</small>
            </div>
            <!-- END panel-footer-->
        </div>
        <!-- END messages and activity-->
    </aside>
    <!-- END dashboard sidebar-->


    <h4>
        Live Order List
    </h4>

    <div class="container-fluid">
        <!-- START DATATABLE 2 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table id="datatable2" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th hidden="hidden">ID</th>
                                <th>Pick up Location</th>
                                <th>Drop off Location</th>
                                <th>Driver Name</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in orderList">
                                <td>{{$index + 1}}</td>
                                <td hidden="hidden">{{data._id}}</td>
                                <td>{{data.pickupAddress}}</td>
                                <td>{{data.dropUpAddress}}</td>
                                <td>{{data.driverFullName}}</td>
                                <td style="text-align: center;">
                                    <button ng-click="reAssign(data.email)"
                                            title="Reassign" class="btn btn-sm btn-success">Reassign
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- **************************************************************************
******************* Modal to add Order ***********************************
*******************************************************************************-->
<script type="text/ng-template" id="placeOrder">
    <div class="ngdialog-message">
        <h3>Place Order</h3>

    </div>
</script>

