
<h3>
    Mashaweer Dashboard
    <small>Welcome to Mashaweer</small>
</h3>
<!--/*----- WIDGET DATA -----*/-->
<div ng-controller="dashboardController">
    <div class="Heading">
        <h4>Today's Data</h4>
    </div>
    <div class="row state-overview" id="first_state_overview1" style="z-index: 1000000;">
        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-primary">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em class="icon fa fa-truck fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalOrder }}</div>
                        <div class="text-uppercase">Total Orders</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="icon fa fa-truck fa-3x"></em>
                        <em class="icon fa fa-check"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalCompletedOrder }}</div>
                        <div class="text-uppercase">Assigned Orders</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-green">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green-dark pv-lg">
                        <em class="icon fa fa-truck fa-3x"></em>
                        <em class="icon fa fa-bell"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalUnAssignedOrder }}</div>
                        <div class="text-uppercase">Unassigned Orders</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-primary">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em class="icon fa fa-automobile fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalOnlineDriver}}</div>
                        <div class="text-uppercase">Live Drivers</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="icon fa fa-users fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalNewCustomer }}</div>
                        <div class="text-uppercase">New Customers</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="panel widget bg-green">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green-dark pv-lg">
                        <em class="icon fa fa-try fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ totalRevenue }}</div>
                        <div class="text-uppercase">Total Revenue</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

<!--/*----- MAP DATA -----*/-->
<!--<div class="panel widget bg-primary">
    <div ng-controller="MapCircleController">


        <div class="panel-body map-dashboard">
            <div id="map-container" style="height: 500px"></div>
            </div>

        &lt;!&ndash;<div class="panel-body map-dashboard">&ndash;&gt;
            &lt;!&ndash;<ui-gmap-google-map center='map.center'&ndash;&gt;
                                &lt;!&ndash;zoom='map.zoom'&ndash;&gt;
                                &lt;!&ndash;draggable='map.draggable'&ndash;&gt;
                                &lt;!&ndash;dragging='map.dragging'&ndash;&gt;
                                &lt;!&ndash;refresh='map.refresh'&ndash;&gt;
                                &lt;!&ndash;options='map.options'&ndash;&gt;
                                &lt;!&ndash;events='map.events'&ndash;&gt;
                                &lt;!&ndash;pan='map.pan'>&ndash;&gt;

                &lt;!&ndash;<ui-gmap-markers models="map.markers2" coords="'self'" icon="'icon'" options="'options'"&ndash;&gt;
                                 &lt;!&ndash;events="map.markers2Events">&ndash;&gt;

                &lt;!&ndash;</ui-gmap-markers>&ndash;&gt;

            &lt;!&ndash;</ui-gmap-google-map>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;
    </div>
</div>-->


<div class="row">
    <!-- START dashboard main content-->
    <div class="col-lg-9">
        <!-- START chart-->
        <div class="row">
            <div class="col-lg-12">
                <!-- START widget-->
                <div class="panel widget bg-primary">
                    <div ng-controller="MapCircleController">


                        <div class="panel-body map-dashboard">
                            <div id="map-container" style="height:620px"></div>
                        </div>

                        <!--<div class="panel-body map-dashboard">-->
                        <!--<ui-gmap-google-map center='map.center'-->
                        <!--zoom='map.zoom'-->
                        <!--draggable='map.draggable'-->
                        <!--dragging='map.dragging'-->
                        <!--refresh='map.refresh'-->
                        <!--options='map.options'-->
                        <!--events='map.events'-->
                        <!--pan='map.pan'>-->

                        <!--<ui-gmap-markers models="map.markers2" coords="'self'" icon="'icon'" options="'options'"-->
                        <!--events="map.markers2Events">-->

                        <!--</ui-gmap-markers>-->

                        <!--</ui-gmap-google-map>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END dashboard main content-->
    <!-- START dashboard sidebar-->
    <aside class="col-lg-3">
        <!-- START loader widget-->
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="#" class="text-muted pull-right">
                    <em class="fa fa-arrow-right"></em>
                </a>
                <div class="text-info">Average Monthly Uploads</div>
                <canvas classyloader="" data-percentage="70" data-speed="20" data-font-size="40px" data-diameter="70" data-line-color="{{colorByName('info')}}" data-remaining-line-color="rgba(200,200,200,0.4)" data-line-width="10"
                        data-rounded-line="true" class="center-block"></canvas>
                <div sparkline="" data-bar-color="{{colorByName('info')}}" data-height="30" data-bar-width="5" data-bar-spacing="2" values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7" class="text-center"></div>
            </div>
            <div class="panel-footer">
                <p class="text-muted">
                    <em class="fa fa-upload fa-fw"></em>
                    <span>This Month</span>
                    <span class="text-dark">1000 Gb</span>
                </p>
            </div>
        </div>
        <!-- END loader widget-->
        <!-- START messages and activity-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Latest activities</div>
            </div>
            <!-- START list group-->
            <div class="list-group">
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-purple"></em>
                        <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">15m</small>
                            <div class="media-box-heading"><a href="#" class="text-purple m0">NEW FILE</a>
                            </div>
                            <p class="m0">
                                <small><a href="#">Bootstrap.xls</a>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-info"></em>
                        <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">2h</small>
                            <div class="media-box-heading"><a href="#" class="text-info m0">NEW DOCUMENT</a>
                            </div>
                            <p class="m0">
                                <small><a href="#">Bootstrap.doc</a>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-danger"></em>
                        <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">5h</small>
                            <div class="media-box-heading"><a href="#" class="text-danger m0">BROADCAST</a>
                            </div>
                            <p class="m0"><a href="#">Read</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-success"></em>
                        <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">15h</small>
                            <div class="media-box-heading"><a href="#" class="text-success m0">NEW MEETING</a>
                            </div>
                            <p class="m0">
                                <small>On
                                    <em>10/12/2015 09:00 am</em>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-warning"></em>
                        <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">1w</small>
                            <div class="media-box-heading"><a href="#" class="text-warning m0">TASKS COMPLETION</a>
                            </div>
                            <progressbar value="22" type="warning" class="progress-xs m0">22%</progressbar>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
            </div>
            <!-- END list group-->
            <!-- START panel footer-->
            <div class="panel-footer clearfix">
                <a href="#" class="pull-left">
                    <small>Load more</small>
                </a>
            </div>
            <!-- END panel-footer-->
        </div>
        <!-- END messages and activity-->
    </aside>
    <!-- END dashboard sidebar-->
</div>

<!-- **************************************************************************
******************* Modal to add credit ***********************************
*******************************************************************************-->
<script type="text/ng-template" id="addCredit">
    <div class="ngdialog-message">
        <h3>Add Credit</h3>

        <div class="panel panel-default">
            <form method="post" validate-form="" novalidate="" ng-submit="addCredit(data)">

                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label">Email Id</label>
                        <input type="email" name="busi_pro_name" required="required" class="form-control"
                               ng-model="data.email"  capitalize-first/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Credit</label>
                        <input type="text" name="busi_desc" required="required" class="form-control"
                               ng-model="data.credit"  data-parsley-type="number"/>
                    </div>
                </div>
                <div class="panel-footer btn-align">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                    </button>
                    <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">{{successMsg}}</div>
                    <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px;">{{errorMsg}}</div>
                </div>
            </form>
        </div>

    </div>


</script>

<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_msg">
    <div class="ngdialog-message">

        <h4>{{displaymsg2}}</h4>
        <button type="submit" ng-click="$state.reload() && closeThisDialog(0)" class="btn btn-primary"
                style="margin-top:20px;float:right;">OK</button>

        <div style="clear: both;"></div>
    </div>
</script>

