<div ng-controller="dispatcherController" class="ngdialog-message"><h3 ng-bind="name"></h3>

    <h3 class="page-header" id="page-header-techServices">Existing Dispatcher List
        <a ng-click="addDispatcher()" class="btn btn-default pull-right">Add Dispatcher</a>
    </h3>
    <!-- Start View Add Ons Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
            <!--        <table id="datatable2" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th hidden="">Id</th>
                            <th>No.</th>
                            <th>Promo Code</th>
                            <th>Promo Type</th>
                            <th>Vehical Type</th>
                            <th>City</th>
                            <th>Credit</th>
                            <th>Discount</th>
                            <th>Min Amount</th>
                            <th>Start date</th>
                            <th>End Date</th>
                            <th>Created on</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">
                            <td class="digits" hidden="">{{data._id}}</td>
                            <td>{{$index + 1}}</td>
                            <td>{{data.promoCode}}</td>
                            <td>{{data.promoType}}</td>
                            <td>{{data.vehicleType}}</td>
                            <td>{{data.city}}</td>
                            <td class="digits">{{data.credits | currency}}</td>
                            <td class="digits">{{data.discount | currency}}</td>
                            <td class="digits">{{data.minAmount | currency}}</td>
                            <td>{{data.startTime | date:'MM/dd/yyyy'}}</td>
                            <td>{{data.endTime | date:'MM/dd/yyyy'}}</td>
                            <td>{{data.createdAt | date:'MM/dd/yyyy - h:mma'}}</td>
                            <td>
                                <button ng-click="editData(data)" title="Edit" class="btn btn-sm btn-success">
                                    <em class="fa fa-pencil"></em>
                                </button>
                                <button ng-click="openConfirm(data._id)" title="Delete" ng-disabled="!{{data.dltShow}}" class="btn btn-sm btn-danger">
                                    <em class="fa fa-trash"></em>
                                </button>

                            </td>
                        </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------- Start Edit Service View--------------------->

<script type="text/ng-template" id="modalDialogId">
    <form method="post" validate-form="" novalidate="" ng-submit="editPromo()">
        <div class="ngdialog-message">
            <div class="panel-body">
                <div class="panel-heading" style="font-weight: bolder; color: gray">Edit Promo
                    Code
                </div>

                <form>
                    <div ng-show="successMsg" class="alert alert-success text-center">
                        {{successMsg}}
                    </div>
                    <div ng-show="errorMsg" class="alert alert-danger text-center">
                        {{errorMsg}}
                    </div>

                    <div ng-if="show" class="row form-group dtpicker panel-body">
                        <div class="col-md-12">
                            <p class="input-group">
                                <label class="control-label">Start Date</label>
                                <input type="text" readonly="" id="start_date"
                                       datepicker-popup="{{format}}"
                                       ng-model="pop.startTime"
                                       is-open="datepicker.dt1"
                                       min-date="min_date"
                                       max-date="" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)"
                                       ng-required="true" close-text="Close"
                                       class="form-control"/>
            <span class="input-group-btn promoCOdeClndr">
               <button type="button" ng-click="openDt1($event)" class="btn btn-default">
                   <em class="fa fa-calendar"></em>
               </button>
            </span>
                            </p>
                        </div>
                    </div>

                    <div class="row form-group dtpicker panel-body">
                        <div class="col-md-12">
                            <p class="input-group">
                                <label class="control-label">End Date</label>
                                <input type="text" readonly="" id="end_date"
                                       datepicker-popup="{{format}}"
                                       ng-model="pop.endTime"
                                       is-open="datepicker.dt2"
                                       min-date="pop.endTime"
                                       max-date="maxDate"
                                       datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)"
                                       ng-required="true" close-text="Close"
                                       class="form-control"/>
            <span class="input-group-btn promoCOdeClndr">
               <button type="button" ng-click="openDt2($event)" class="btn btn-default">
                   <em class="fa fa-calendar"></em>
               </button>
            </span>
                            </p>
                        </div>
                    </div>

                </form>

                <form method="post" ng-submit="addPromoCode()" validate-form=""
                      novalidate="" id="add-promo">
                    <!-- START panel-->
                    <div class="panel-body">
                        <div class="form-group" ng-if="show">
                            <label class="control-label">Vehicle</label>
                            <select id="vehical_type" ng-init="add.vehical_type='BIKE'" ng-model="pop.vehicleType"
                                    required="required"
                                    placeholder="Vehical Type" name="vehival_type" class="form-control">
                                <option value="BIKE">Bike</option>
                                <option value="VAN">Van</option>
                                <option value="TRUCK">Truck</option>
                            </select>
                        </div>

                        <div class="form-group" ng-if="show">
                            <label class="control-label">City</label>
                            <select id="city" ng-init="add.city='Dubai'" ng-model="pop.city"
                                    required="required"
                                    placeholder="City" name="city" class="form-control">
                                <option value="Dubai">Dubai</option>
                                <option value="Abu Dhabi">Abu Dhabi</option>
                                <option value="Sharjah">Sharjah</option>
                                <option value="Ras Al Khaimah">Ras Al Khaimah</option>
                                <option value="Fujairah">Fujairah</option>
                                <option value="Ajman">Ajman</option>
                                <option value="Umm Al Quwain">Umm Al Quwain</option>
                            </select>

                        </div>
                        <div class="form-group" ng-if="show">
                            <label class="control-label">Minimum Amount</label>
                            <input  name="duration" required="required" data-parsley-type="number"
                                    class="form-control"
                                    ng-model="pop.minAmount"/>
                        </div>
                        <div class="form-group" ng-if="show">
                            <label class="control-label">Discount</label>
                            <input name="discount" ng-disabled="!type" ng-init="add.discount='0'" required="required" data-parsley-type="number"
                                   class="form-control"
                                   ng-model="pop.discount"/>
                        </div>
                        <div class="form-group" ng-if="show">
                            <label class="control-label">Credit</label>
                            <input name="credit" ng-disabled="type" ng-init="add.credit='0'" required="required" data-parsley-type="number"
                                   class="form-control"
                                   ng-model="pop.credits"/>
                        </div>
                    </div>

                    <!-- END panel-->
                </form>

            </div>
            <button type="submit" class="btn btn-success mr" style="margin-left: 25px">Submit
            </button>
            <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">
                Cancel
            </button>
        </div>
    </form>
</script>


<script type="text/ng-template" id="modalDialogId1">
    <div class="ngdialog-message">
        <button type="button" ng-click="deleteOffer(id)"
                class="btn btn-primary mr">Confirm
        </button>
        <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">
            Cancel
        </button>
    </div>
</script>


<!-- **************************************************************************
******************* Modal to add Dispatcher ***********************************
*******************************************************************************-->
<script type="text/ng-template" id="dispatcher">
    <div class="ngdialog-message">
        <h3>Add Dispatcher</h3>


            <form role="form" validate-form="" novalidate="" ng-submit="register()" class="mb-lg">
                <div class="form-group has-feedback">
                    <label for="signupInputFullName" class="text-muted">Full Name</label>
                    <input id="signupInputFullName" type="text" placeholder="Enter Full Name" autocomplete="off" ng-model="account.fullName" required="required" class="form-control" />
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    <label for="signupInputEmail1" class="text-muted">Email address</label>
                    <input id="signupInputEmail1" type="email" placeholder="Enter email" autocomplete="off" ng-model="account.email" required="required" class="form-control" />
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <!--<div class="form-group has-feedback">
                    <label for="signupInputPassword1" class="text-muted">Password</label>
                    <input id="signupInputPassword1" type="password" placeholder="Password" autocomplete="off" ng-model="account.password" required="required" class="form-control" />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    <label for="signupInputRePassword1" class="text-muted">Retype Password</label>
                    <input id="signupInputRePassword1" type="password" placeholder="Retype Password" autocomplete="off" ng-model="account.password2" required="required" data-parsley-equalto="#signupInputPassword1" class="form-control"
                            />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>-->
                <div class="clearfix">
                    <!--<div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" required="required" name="agreed" ng-model="account.agreed" />
                            <span class="fa fa-check"></span>I agree with the <a ui-sref="page.terms" target="_blank">terms</a>
                        </label>
                    </div>-->
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">Add Dispatcher</button>
            </form>


    </div>

</script>
<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_msg">
    <div class="ngdialog-message">
        <h4>Dispatcher Added Successfully</h4>
        <button type="submit" ng-click="close()" class="btn btn-primary"
                style="margin-top:20px;float:right;">OK</button>
        <div style="clear: both;"></div>
    </div>
</script>

