<!--<div class="modal fade">-->
<h3>
    Add Order
</h3>
<div class="row" ng-controller="MapCircleController1">
    <div class="col-lg-6">
        <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
        <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
        <form method="post" validate-form="" novalidate="" ng-submit="addOrder(job)">
            <div class="panel panel-default">
                <div id="panelDemo4" class="panel panel-default custom-panel">
                    <div class="panel-heading">
                        <label>Personal Details</label>
                        <input class="pull-right" type="checkbox" ng-model="panelDemo4" ng-change="checkStatus(1)">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div collapse="!panelDemo4" ng-init="panelDemo4=true" class="panel-wrapper">
                                <div class="">

                                    <!-- <div class="col-lg-6">

                                         <div class="form-group">
                                             <select id="search"  ng-model="job.search"
                                                     required="required"
                                                     placeholder="Search for customer" name="vehival_id" class="form-control">
                                                 <option value="BIKE">Bike</option>
                                                 <option value="VAN">Van</option>
                                                 <option value="TRUCK">Truck</option>
                                             </select>
                                         </div>
                                     </div>-->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                                <ui-select ng-model="person.selected" theme="bootstrap"
                                                           ng-disabled="disabled" ng-click="cust(person.selected)">
                                                    <ui-select-match placeholder="Select or search a customer...">
                                                        {{$select.selected.name}}
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                            repeat="person in list | propsFilter: {name: $select.search, credits: $select.search}">
                                                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                                                        <small>email: {{person.email}} Credits:
                                                            <span ng-bind-html="''+person.credits | highlight: $select.search"></span>
                                                        </small>
                                                    </ui-select-choices>
                                                </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <select id="vehival_id" ng-init="job.vehival_id='BIKE'"
                                                    ng-model="job.vehival_id"
                                                    required="required"
                                                    placeholder="Vehical" name="vehival_id" class="form-control">
                                                <option value="BIKE">Bike</option>
                                                <option value="VAN">Van</option>
                                                <option value="TRUCK">Truck</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"><input type="email" name="pickup_email"
                                                                       class="form-control"
                                                                       placeholder="Email"
                                                                       ng-model="job.email"
                                                                       ng-required="boxStatus1"
                                                                       required="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="personal_phone_no"
                                                   class="form-control"
                                                   placeholder="Phone No" ng-model="job.personal_phone_no"
                                                   ng-required="boxStatus1"
                                                   required="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">

                                        <div class="form-group">
                                            <textarea type="text" id="parcel_detail" name="parcel_detail"
                                                      required="required"
                                                      class="form-control" ng-model="job.parcel_detail"
                                                      ng-required="boxStatus1" placeholder="Parcel Detail"
                                                      required="required"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="panelDemo3" class="panel panel-default custom-panel">
                    <div class="panel-heading">
                        <label>Pick Up</label>
                        <input class="pull-right" type="checkbox" ng-model="panelDemo3" ng-change="checkStatus(2)">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div collapse="!panelDemo3" ng-init="panelDemo3=true" class="panel-wrapper">
                                <div class="">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" id="p_mobile-number" name="phone_no"
                                                   class="form-control"
                                                   ng-model="job.phone_no" ng-required="boxStatus2"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="sender_name"
                                                   class="form-control"
                                                   placeholder="Sender Name" ng-model="job.sender_name"
                                                   ng-required="boxStatus2"
                                                   required="required">
                                        </div>
                                    </div>
                                    <!--   <div class="col-lg-6">
                                           <div class="form-group">
                                               <input type="text" name="company_name"
                                                      class="form-control"
                                                      placeholder="Company Name" ng-model="job.company_name"
                                                      ng-required="boxStatus2"
                                                      required="required">
                                           </div>
                                       </div>-->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" id="datetimepicker" name="pick_up_before"
                                                   class="form-control"
                                                   placeholder="Pick-up Time" ng-model="job.pick_up_before"
                                                   ng-required="boxStatus2"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="pick_up_address"
                                                   class="form-control"
                                                   placeholder="Pick-up Address" ng-model="job.pick_up_address"
                                                   ng-required="boxStatus2"
                                                   required="required" ng-change="clickIt(job.pick_up_address,1)"
                                                   googleplace="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="info"
                                                   class="form-control"
                                                   placeholder="Address Detail" ng-model="job.info"
                                                   ng-required="boxStatus2"
                                                   required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="panelDemo2" class="panel panel-default custom-panel">
                    <div class="panel-heading">
                        <label>Delivery</label>
                        <input class="pull-right" type="checkbox" ng-model="panelDemo2" ng-change="checkStatus(3)">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div collapse="!panelDemo2" ng-init="panelDemo2=true" class="panel-wrapper">
                                <div class="">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="phone_no"
                                                   class="form-control" id="d_mobile-number"
                                                   ng-model="job.d_phone_no"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="sender_name"
                                                   class="form-control"
                                                   placeholder="Sender Name" ng-model="job.d_sender_name"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="drop_off_before" id="datetimepicker1"
                                                   class="form-control"
                                                   placeholder="Drop-Off Time" ng-model="job.d_drop_off_before"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="drop_off_address"
                                                   class="form-control"
                                                   placeholder="Drop-Off Address" ng-model="job.d_drop_off_address"
                                                   ng-required="boxStatus3"
                                                   required="required" id="drop_off_address"
                                                   ng-change="clickIt(job.d_drop_off_address,2)" googleplace="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="info"
                                                   class="form-control"
                                                   placeholder="Address Detail" ng-model="job.d_info"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelDemo1" class="panel panel-default custom-panel">
                    <div class="panel-heading">
                        <label>Payment Details</label>
                        <input class="pull-right" type="checkbox" ng-model="panelDemo1" ng-change="checkStatus(4)">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div collapse="!panelDemo1" ng-init="panelDemo1=true" class="panel-wrapper">
                                <div class="">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="subscription_id"
                                                   class="form-control"
                                                   placeholder="Subscription Id" ng-model="job.subscription_id"
                                                   ng-required="boxStatus4"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="amount"
                                                   class="form-control"
                                                   placeholder="Amount" ng-model="job.amount" ng-required="boxStatus4"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select id="payment_mode" ng-init="job.payment_mode='BIKE'"
                                                    ng-model="job.payment_mode"
                                                    required="required"
                                                    placeholder="Payment Mode" name="payment_mode" class="form-control">
                                                <option value="BIKE">Credit</option>
                                                <option value="VAN">Card</option>
                                                <option value="TRUCK">Cash</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="payment_at"
                                                   class="form-control"
                                                   placeholder="Payment At" ng-model="job.payment_at"
                                                   ng-required="boxStatus4"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="promo_code"
                                                   class="form-control"
                                                   placeholder="Promo Code" ng-model="job.promo_code"
                                                   ng-required="boxStatus4"
                                                   required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer btn-align">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                    </button>
                    <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">
                        {{successMsg}}
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="col-lg-6">
        <div class="panel widget bg-primary">
            <div>
                <div class="panel-body map-dashboard">
                    <div id="map-container" style="height:410px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_msg">
    <div class="ngdialog-message">
        <h4>Dispatcher Added Successfully</h4>
        <button type="submit" ng-click="close()" class="btn btn-primary"
                style="margin-top:20px;float:right;">OK
        </button>
        <div style="clear: both;"></div>
    </div>
</script>


