<!--<div class="modal fade">-->
<h3>
    Add Order
</h3>
<div class="row" ng-controller="MapCircleController1">
    <div class="col-lg-6">
        <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
        <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
        <form method="post" name="addOrderForm" ng-submit="addOrder(job)" validate-form="" novalidate="" >
            <div class="panel panel-default">
                <div id="panelDemo4" class="panel panel-default custom-panel" ng-class="{'whirl standard' : loading }">
                    <div class="panel-heading">
                        <label>Personal Details</label>
                        <input class="pull-right" type="checkbox" ng-model="panelDemo4" ng-change="checkStatus(1)">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div collapse="!panelDemo4" ng-init="panelDemo4=true" class="panel-wrapper">
                                <div class="">

                                    <!-- <div class="col-lg-6">
                                         <div class="form-group">
                                             <select id="search"  ng-model="job.search"
                                                     required="required"
                                                     placeholder="Search for customer" name="vehival_id" class="form-control">
                                                 <option value="BIKE">Bike</option>
                                                 <option value="VAN">Van</option>
                                                 <option value="TRUCK">Truck</option>
                                             </select>
                                         </div>
                                     </div>-->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                                <ui-select ng-model="person.selected" theme="bootstrap"
                                                           ng-disabled="disabled" ng-change="cust(person.selected)">
                                                    <ui-select-match placeholder="Select or search a customer...">
                                                        {{$select.selected.name}}
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                            repeat="person in list | propsFilter: {name: $select.search, credits: $select.search}">
                                                        <div style="font-weight: bold" ng-bind-html="person.name | highlight: $select.search"></div>
                                                        <small>Email: {{person.email}}
                                                        </small>
                                                    </ui-select-choices>
                                                </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <select id="vehicle_id" ng-init="job.vehicle_id='55b083a6da0588448a6ee410'"
                                                    ng-model="job.vehicle_id"
                                                    required="required"
                                                    placeholder="Vehicle" name="vehicle_id" class="form-control">
                                                <option value="55b083a6da0588448a6ee410">Bike</option>
                                                <option value="55b083acda0588448a6ee411">Car</option>
                                                <option value="55a39fe921b83d9dde82b08a">Truck</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"><input type="email" name="pickup_email"
                                                                       class="form-control parsleyError"
                                                                       placeholder="Email"
                                                                       ng-model="job.email"
                                                                       ng-required="boxStatus1"
                                                                       required="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="personal_phone_no"
                                                   class="form-control parsleyError"
                                                   placeholder="Ph.No" ng-model="job.personal_phone_no"
                                                   ng-required="boxStatus1" numbers-only="" ui-mask="{{'99-999-9999'}}"
                                                   required="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">

                                        <div class="form-group">
                                            <textarea type="text" id="parcel_detail" name="parcel_detail"
                                                      required="required"
                                                      class="form-control" ng-model="job.parcel_detail"
                                                      ng-required="boxStatus1" placeholder="Parcel Detail"
                                                      required="required"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="panelDemo3" class="panel panel-default custom-panel">
                    <div class="panel-heading">
                        <label>Pick Up</label>
                        <input class="pull-right" type="checkbox" ng-model="panelDemo3" ng-change="checkStatus(2)">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div collapse="!panelDemo3" ng-init="panelDemo3=true" class="panel-wrapper">
                                <div class="">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" id="p_mobile-number" name="phone_no"
                                                   class="form-control" numbers-only=""
                                                   ng-model="job.phone_no" ng-required="boxStatus2">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="sender_name"
                                                   class="form-control"
                                                   placeholder="Sender Name" ng-model="job.sender_name"
                                                   ng-required="boxStatus2"
                                                   required="required">
                                        </div>
                                    </div>
                                    <!--   <div class="col-lg-6">
                                           <div class="form-group">
                                               <input type="text" name="company_name"
                                                      class="form-control"
                                                      placeholder="Company Name" ng-model="job.company_name"
                                                      ng-required="boxStatus2"
                                                      required="required">
                                           </div>
                                       </div>-->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" id="datetimepicker" name="pick_up_before"
                                                   class="form-control"
                                                   readonly
                                                   placeholder="Pick-up Time" ng-model="job.pick_up_before"
                                                   ng-required="boxStatus2"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="pick_up_address"
                                                   class="form-control"
                                                   placeholder="Pick-up Address" ng-model="job.pick_up_address"
                                                   ng-required="boxStatus2"
                                                   id="pick_up_address"
                                                   required="required" ng-change="setMarker(job.pick_up_address,1)"
                                                   googleplace="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="info"
                                                   class="form-control"
                                                   placeholder="Address Detail" ng-model="job.info"
                                                   ng-required="boxStatus2"
                                                   required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="panelDemo2" class="panel panel-default custom-panel">
                    <div class="panel-heading">
                        <label>Delivery</label>
                        <input class="pull-right" type="checkbox" ng-model="panelDemo2" ng-change="checkStatus(3)">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div collapse="!panelDemo2" ng-init="panelDemo2=true" class="panel-wrapper">
                                <div class="">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="phone_no"
                                                   class="form-control" id="d_mobile-number"
                                                   ng-model="job.d_phone_no" numbers-only=""
                                                   ng-required="boxStatus3">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="sender_name"
                                                   class="form-control"
                                                   placeholder="Receiver Name" ng-model="job.d_receiver_name"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>
                                   <!-- <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="drop_off_before" id="datetimepicker1"
                                                   class="form-control"
                                                   readonly
                                                   placeholder="Drop-Off Time" ng-model="job.d_drop_off_before"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>-->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="drop_off_address"
                                                   class="form-control"
                                                   placeholder="Drop-Off Address" ng-model="job.d_drop_off_address"
                                                   ng-required="boxStatus3"
                                                   required="required" id="drop_off_address"
                                                   ng-change="setMarker(job.d_drop_off_address,2)" googleplace="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="info"
                                                   class="form-control"
                                                   placeholder="Address Detail" ng-model="job.d_info"
                                                   ng-required="boxStatus3"
                                                   required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelDemo1" class="panel panel-default custom-panel">
                    <div class="panel-heading">
                        <label>Payment Details</label>
                        <input class="pull-right" type="checkbox" ng-model="panelDemo1" ng-change="checkStatus(4)">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div collapse="!panelDemo1" ng-init="panelDemo1=true" class="panel-wrapper">
                                <div class="">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select id="payment_mode" ng-init="job.payment_mode='COD'"
                                                    ng-model="job.payment_mode"
                                                    required="required" ng-change="paymentMode(job.payment_mode)"
                                                    placeholder="Payment Mode" name="payment_mode" class="form-control">
                                                <option value="COD">Cash</option>
                                                <option value="CREDITS">Credits</option>
                                                <!--<option value="card">Card</option>
                                                <option value="subscription">Subscription</option>-->
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6" ng-show="cash">
                                        <div class="form-group">
                                            <select id="payment_at" ng-init="job.payment_at='PICKUP_LOC'"
                                                    ng-model="job.payment_at"
                                                    required="required"
                                                    placeholder="Payment At" name="payment_at" class="form-control">
                                                <option value="PICKUP_LOC">Pick Up</option>
                                                <option value="DELIVERY_LOC">Delivery</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6" ng-show="subscription">
                                        <div class="form-group">
                                            <input type="text" name="subscription_id"
                                                   class="form-control"
                                                   numbers-only=""
                                                   placeholder="Subscription Id" ng-model="job.subscription_id"
                                                   ng-required="subscription"
                                                   required="required">
                                        </div>
                                    </div>


                                    <div class="col-lg-6" ng-show="card">
                                        <div class="form-group">
                                            <input type="text" name="card_no"
                                                   class="form-control"
                                                   numbers-only="" ui-mask="{{'9999-9999-9999-9999'}}"
                                                    ng-model="job.card_no"
                                                   ng-required="card"
                                                   required="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-4" ng-show="card">
                                        <div class="form-group">
                                            <input type="text" name="card_type"
                                                   class="form-control"
                                                   numbers-only=""
                                                   placeholder="Card Type" ng-model="job.card_type"
                                                   ng-required="card"
                                                   required="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-4" ng-show="card">
                                        <div class="form-group">
                                            <input type="text" name="cvv"
                                                   class="form-control" maxlength="4"
                                                   numbers-only=""
                                                   placeholder="CVV/CVC" ng-model="job.cvv"
                                                   ng-required="card"
                                                   required="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-2" ng-show="card">
                                        <div class="form-group">

                                            <!--<select id="expiryMonth" ng-init="job.expiryMonth='01'"
                                                    ng-model="job.expiryMonth"
                                                    required="required"
                                                    placeholder="expiryMonth" name="expiryMonth" class="form-control">
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="00">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>-->


                                            <input type="text" name="expiryMonth"
                                                   class="form-control" maxlength="2"
                                                   numbers-only="" min="01" max="12"
                                                   placeholder="MM" ng-model="job.expiryMonth"
                                                   ng-required="card"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-2" ng-show="card">
                                        <div class="form-group">

                                            <!--<select id="expiryYear" ng-init="job.expiryYear='2016'"
                                                    ng-model="job.expiryYear"
                                                    required="required"
                                                    placeholder="expiryYear" name="expiryYear" class="form-control">
                                                <option value="2015">2015</option>
                                                <option value="2016">2016</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                                <option value="2027">2027</option>
                                                <option value="2028">2028</option>
                                                <option value="2029">2029</option>
                                                <option value="2030">2030</option>
                                                <option value="2031">2031</option>
                                                <option value="2032">2032</option>
                                                <option value="2033">2033</option>
                                                <option value="2034">2034</option>
                                            </select>-->

                                            <input type="text" name="expiryYear"
                                                   class="form-control" maxlength="4"
                                                   numbers-only="" min={{minYear}} max={{maxYear}}
                                                   placeholder="YYYY" ng-model="job.expiryYear"
                                                   ng-required="card"
                                                   required="required">
                                        </div>
                                    </div>

           <!--                         <form name="step2" class="form-validation" ng-controller="Step2Controller"
                                          stripe-form="stripeCallback">

                                        <div class="form-group padding_left clearfix" ng-show="card">
                        <span style="margin-bottom: 10px;" class="col-sm-6 padding_left">
                        <input type="text" masked="" data-inputmask="'mask': '9999 9999 9999 9999'"
                               ng-model="number" payments-format="card"
                               required="required" placeholder="Credit Card Number" class="form-control">
                        </span>
                        <span class="col-sm-4 padding_left">
                        <input masked="" type="text" placeholder="Card Type"
                               ng-model="card_type" required="required" class="form-control"/>
                        </span>
                        <span class="col-sm-4 padding_left">
                        <input masked="" type="text" placeholder="CVV/CVC"
                               ng-model="cvc" maxlength="4" payments-format="cvc"
                               required="required" class="form-control"/>
                        </span>
                        <span class="col-sm-4 padding_left">
                        <input type="text"  ui-mask="{{'99/9999'}}" placeholder="DD/YYYY"
                               ng-model="expiry" payments-format="expiry" numbers-only=""
                               required="required" class="form-control"/>
                        </span>

                                        </div>
                                        </form>-->

                                 <!--   <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="amount"
                                                   class="form-control"
                                                   numbers-only=""
                                                   placeholder="Amount" ng-model="job.amount" ng-required="boxStatus4"
                                                   required="required">
                                        </div>
                                    </div>-->

                                 <!--   <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="payment_at"
                                                   class="form-control"
                                                   placeholder="Payment At" ng-model="job.payment_at"
                                                   ng-required="boxStatus4"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="promo_code"
                                                   class="form-control"
                                                   placeholder="Promo Code" ng-model="job.promo_code"
                                                   ng-required="boxStatus4"
                                                   required="required">
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer btn-align" style="background: #fff">
                    <button type="submit" class="btn btn-success">Submit</button>
                   <!-- <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                    </button>-->
                <!--    <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">
                        {{successMsg}}
                    </div>-->
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="panel widget bg-primary">
            <div>
                <div class="panel-body map-dashboard">
                    <div id="map-container" style="height:410px"></div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $("#datetimepicker").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',

            autoclose: true,
            startDate: new Date()
            //endDate: e
        });
        $("#datetimepicker1").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',

            autoclose: true
            //startDate: start
            //endDate: e
        });
        $('#datetimepicker').change(function(){
            $(this).removeClass("parsley-error");
            var a = $(this).addClass("parsley-success");
            a.siblings("ul").removeClass("filled");
        });
    </script>
</div>

<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_msg">
    <div class="ngdialog-message">
        <h4>{{hitResponse}}</h4>
        <button type="submit" ng-click="closeThisDialog(0)" class="btn btn-success"
                style="margin-top:20px;float:right;">OK
        </button>
        <div style="clear: both;"></div>
    </div>
</script>