<h3>
    Price List
    <small>Displaying price list for all Transportation Vehicle</small>
</h3>
<div ng-controller="pricingController" class="container-fluid">

    <tabset justified="true">

        <!------------------------Bike Fare Tab Starts------------------------------->
        <tab ng-click="tabNo(1)">
            <tab-heading>
                <em class="fa fa-bicycle fa-fw"></em>
                <span style="color: #F4BF00">Bike</span>
            </tab-heading>
            <h4 style="width: 950px;float: left;" class="fareList">Distance Bases Fare</h4>
            <h4 style="float:left;"><span style="color: #F4BF00;">Base Price (AED)</span>: <span class="span2"><input ng-keyup="editBasePrice()" contentEditable="true" style="border: none; color: deepskyblue;
             cursor: pointer;text-align: center" type="text" ng-model="bikeBasePrice"></span></h4>
    <table id="pricing" class="table table-bordered table-hover bg-white">
        <tr style="font-weight: bold">
            <td style="width:35%">From (Km)</td>
            <td style="width:20%">To (Km)</td>
            <td style="width:20%">Fare (AED/Km)</td>
            <td style="width:25%">Edit</td>
        </tr>
        <tr ng-repeat="distanceFareBike in distanceFareBike">
            <td>
                <!-- editable username (text with validation)-->
                <span editable-text="distanceFareBike.from" e-name="from" e-form="rowform" onbeforesave="checkName($data, distanceFareBike.id)" e-required="">{{ distanceFareBike.from }}</span>
            </td>
            <td>
                <!-- editable username (text with validation)-->
                <span editable-text="distanceFareBike.to" e-name="to" e-form="rowform" onbeforesave="checkName($data, distanceFareBike.id)" e-required="">{{ distanceFareBike.to || &apos;empty&apos; }}</span>
            </td>
            <td>
                <!-- editable username (text with validation)-->
                <span editable-text="distanceFareBike.fareCharge" e-name="fareCharge" e-form="rowform" onbeforesave="checkName($data, distanceFareBike.id)" e-required="">{{ distanceFareBike.fareCharge || &apos;empty&apos; }}</span>
            </td>
            <td style="white-space: nowrap">
                <!-- form-->
                <form editable-form="" name="rowform" onbeforesave="saveUser($data, distanceFareBike._id)" ng-show="rowform.$visible" shown="inserted == distanceFareBike" class="form-buttons form-inline">
                    <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-success">
                        <em class="fa fa-save"></em>
                    </button>
                   <!-- <button type="submit" ng-disabled="rowform.$waiting"  title="Cancel" class="btn btn-sm btn-default">
                        <em class="fa fa-times"></em>
                    </button>-->
                </form>
                <div ng-show="!rowform.$visible" class="buttons">
                    <button ng-click="rowform.$show();editRow('distanceFareBike',$index)" title="Edit" class="btn btn-sm btn-info">
                        <em class="fa fa-pencil"></em>
                    </button>
                    <button ng-click="openConfirmationDialog($index,'distanceFareBike',0)" title="Delete" class="btn btn-sm btn-danger">
                        <em class="fa fa-trash"></em>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <button ng-click="addRow('distanceFareBike')" class="btn btn-default">Add row</button>

            <hr>

            <h4 class="fareList">Wait Bases Fare</h4>
            <table id="pricing" class="table table-bordered table-hover bg-white">
                <tr style="font-weight: bold">
                    <td style="width:35%">From (Min)</td>
                    <td style="width:20%">To (Min)</td>
                    <td style="width:20%">Fare (AED/min)</td>
                    <td style="width:25%">Edit</td>
                </tr>
                <tr ng-repeat="waitFareBike in waitFareBike">
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="waitFareBike.from" e-name="from" e-form="rowform" onbeforesave="checkName($data, waitFareBike.id)" e-required="">{{ waitFareBike.from }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="waitFareBike.to" e-name="to" e-form="rowform" onbeforesave="checkName($data, waitFareBike.id)" e-required="">{{ waitFareBike.to || &apos;empty&apos; }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="waitFareBike.fareCharge" e-name="fareCharge" e-form="rowform" onbeforesave="checkName($data, waitFareBike.id)" e-required="">{{ waitFareBike.fareCharge }}</span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form-->
                        <form editable-form="" name="rowform" onbeforesave="saveUser($data, waitFareBike._id)" ng-show="rowform.$visible" shown="inserted == waitFareBike" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting"  title="Save" class="btn btn-sm btn-success">
                                <em class="fa fa-save"></em>
                            </button>
                          <!--  <button type="submit" ng-disabled="rowform.$waiting"  title="Cancel" class="btn btn-sm btn-default">
                                <em class="fa fa-times"></em>
                            </button>-->
                        </form>
                        <div ng-show="!rowform.$visible" class="buttons">
                            <button ng-click="rowform.$show();editRow('waitFareBike',$index)" title="Edit" class="btn btn-sm btn-info">
                                <em class="fa fa-pencil"></em>
                            </button>
                            <button ng-click="openConfirmationDialog($index,'waitFareBike',1)" title="Delete" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash"></em>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <button ng-click="addRow('waitFareBike')" class="btn btn-default">Add row</button>
</tab>

        <!------------------------Van Fare Tab Starts------------------------------->

        <tab ng-click="tabNo(2)">
            <tab-heading>
                <em class="fa fa-automobile fa-fw"></em>
                <span style="color: #F4BF00">Car</span>
            </tab-heading>

            <h4 style="width: 950px;float: left;" class="fareList">Distance Bases Fare</h4>
            <h4 style="float:left;"><span style="color: #F4BF00;">Base Price (AED)</span>: <span class="span2"><input ng-keyup="editBasePrice()" contentEditable="true" style="border: none; color: deepskyblue;
             cursor: pointer;text-align: center" type="text" ng-model="vanBasePrice"></span></h4>
            <table id="pricing" class="table table-bordered table-hover bg-white">
                <tr style="font-weight: bold">
                    <td style="width:35%">From (Km)</td>
                    <td style="width:20%">To (Km)</td>
                    <td style="width:20%">Fare (AED/Km)</td>
                    <td style="width:25%">Edit</td>
                </tr>
                <tr ng-repeat="distanceFareVan in distanceFareVan">
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="distanceFareVan.from" e-name="from" e-form="rowform" onbeforesave="checkName($data, distanceFareVan.id)" e-required="">{{ distanceFareVan.from }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="distanceFareVan.to" e-name="to" e-form="rowform" onbeforesave="checkName($data, distanceFareVan.id)" e-required="">{{ distanceFareVan.to || &apos;empty&apos; }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="distanceFareVan.fareCharge" e-name="fareCharge" e-form="rowform" onbeforesave="checkName($data, distanceFareVan.id)" e-required="">{{ distanceFareVan.fareCharge || &apos;empty&apos; }}</span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form-->
                        <form editable-form="" name="rowform" onbeforesave="saveUser($data,distanceFareVan._id)" ng-show="rowform.$visible" shown="inserted == distanceFareVan" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-success">
                                <em class="fa fa-save"></em>
                            </button>
                           <!-- <button type="submit" ng-disabled="rowform.$waiting"  title="Cancel" class="btn btn-sm btn-default">
                                <em class="fa fa-times"></em>
                            </button>-->
                        </form>
                        <div ng-show="!rowform.$visible" class="buttons">
                            <button ng-click="rowform.$show();editRow('distanceFareVan',$index)" title="Edit" class="btn btn-sm btn-info">
                                <em class="fa fa-pencil"></em>
                            </button>
                            <button ng-click="openConfirmationDialog($index,'distanceFareVan',0)" title="Delete" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash"></em>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <button ng-click="addRow('distanceFareVan')" class="btn btn-default">Add row</button>

            <hr>

            <h4 class="fareList">Wait Bases Fare</h4>
            <table id="pricing" class="table table-bordered table-hover bg-white">
                <tr style="font-weight: bold">
                    <td style="width:35%">From (Min)</td>
                    <td style="width:20%">To (Min)</td>
                    <td style="width:20%">Fare (AED/Km)</td>
                    <td style="width:25%">Edit</td>
                </tr>
                <tr ng-repeat="waitFareVan in waitFareVan">
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="waitFareVan.from" e-name="from" e-form="rowform" onbeforesave="checkName($data, waitFareVan.id)" e-required="">{{ waitFareVan.from  }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="waitFareVan.to" e-name="to" e-form="rowform" onbeforesave="checkName($data, waitFareVan.id)" e-required="">{{ waitFareVan.to || &apos;empty&apos; }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="waitFareVan.fareCharge" e-name="fareCharge" e-form="rowform" onbeforesave="checkName($data, waitFareVan.id)" e-required="">{{ waitFareVan.fareCharge}}</span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form-->
                        <form editable-form="" name="rowform" onbeforesave="saveUser($data,waitFareVan._id)" ng-show="rowform.$visible" shown="inserted == waitFareVan" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-success">
                                <em class="fa fa-save"></em>
                            </button>
                           <!-- <button type="submit" ng-disabled="rowform.$waiting" title="Cancel" class="btn btn-sm btn-default">
                                <em class="fa fa-times"></em>
                            </button>-->
                        </form>
                        <div ng-show="!rowform.$visible" class="buttons">
                            <button ng-click="rowform.$show();editRow('waitFareVan',$index)" title="Edit" class="btn btn-sm btn-info">
                                <em class="fa fa-pencil"></em>
                            </button>
                            <button ng-click="openConfirmationDialog($index,'waitFareVan',1)" title="Delete" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash"></em>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <button ng-click="addRow('waitFareVan')" class="btn btn-default">Add row</button>

            </tab>

        <!------------------------Truck Fare Tab Starts------------------------------->

        <tab ng-click="tabNo(3)">
            <tab-heading>
                <em class="fa fa-truck fa-fw"></em>
                <span style="color: #F4BF00">Truck</span>
            </tab-heading>
            <h4 style="width: 950px;float: left;" class="fareList">Distance Bases Fare</h4>
            <h4 style="float:left;"><span style="color: #F4BF00;">Base Price (AED)</span>: <span class="span2"><input ng-keyup="editBasePrice()" contentEditable="true" style="border: none; color: deepskyblue;
             cursor: pointer;text-align: center" type="text" ng-model="truckBasePrice"></span></h4>
            <table id="pricing" class="table table-bordered table-hover bg-white">
                <tr style="font-weight: bold">
                    <td style="width:35%">From (Km)</td>
                    <td style="width:20%">To (Km)</td>
                    <td style="width:20%">Fare (AED/Km)</td>
                    <td style="width:25%">Edit</td>
                </tr>
                <tr ng-repeat="distanceFareTruck in distanceFareTruck">
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="distanceFareTruck.from" e-name="from" e-form="rowform" onbeforesave="checkName($data, distanceFareTruck.id)" e-required="">{{ distanceFareTruck.from }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="distanceFareTruck.to" e-name="to" e-form="rowform" onbeforesave="checkName($data, distanceFareTruck.id)" e-required="">{{ distanceFareTruck.to || &apos;empty&apos; }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="distanceFareTruck.fareCharge" e-name="fareCharge" e-form="rowform" onbeforesave="checkName($data, distanceFareTruck.id)" e-required="">{{ distanceFareTruck.fareCharge || &apos;empty&apos; }}</span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form-->
                        <form editable-form="" name="rowform" onbeforesave="saveUser($data,distanceFareTruck._id)" ng-show="rowform.$visible" shown="inserted == distanceFareTruck" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-success">
                                <em class="fa fa-save"></em>
                            </button>
                           <!-- <button type="submit" ng-disabled="rowform.$waiting" title="Cancel" class="btn btn-sm btn-default">
                                <em class="fa fa-times"></em>
                            </button>-->
                        </form>
                        <div ng-show="!rowform.$visible" class="buttons">
                            <button ng-click="rowform.$show();editRow('distanceFareTruck',$index)" title="Edit" class="btn btn-sm btn-info">
                                <em class="fa fa-pencil"></em>
                            </button>
                            <button ng-click="openConfirmationDialog($index,'distanceFareTruck',0)" title="Delete" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash"></em>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <button ng-click="addRow('distanceFareTruck')" class="btn btn-default">Add row</button>

            <hr>

            <h4 class="fareList">Wait Bases Fare</h4>
            <table id="pricing" class="table table-bordered table-hover bg-white">
                <tr style="font-weight: bold">
                    <td style="width:35%">From (Min)</td>
                    <td style="width:20%">To (Min)</td>
                    <td style="width:20%">Fare (AED/Min)</td>
                    <td style="width:25%">Edit</td>
                </tr>
                <tr ng-repeat="waitFareTruck in waitFareTruck">
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="waitFareTruck.from" e-name="from" e-form="rowform" onbeforesave="checkName($data, waitFareTruck.id)" e-required="">{{ waitFareTruck.from }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="waitFareTruck.to" e-name="to" e-form="rowform" onbeforesave="checkName($data, waitFareTruck.id)" e-required="">{{ waitFareTruck.to || &apos;empty&apos; }}</span>
                    </td>
                    <td>
                        <!-- editable username (text with validation)-->
                        <span editable-text="waitFareTruck.fareCharge" e-name="fareCharge" e-form="rowform" onbeforesave="checkName($data, waitFareTruck.id)" e-required="">{{ waitFareTruck.fareCharge }}</span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form-->
                        <form editable-form="" name="rowform" onbeforesave="saveUser($data,waitFareTruck._id)" ng-show="rowform.$visible" shown="inserted == waitFareTruck" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-success">
                                <em class="fa fa-save"></em>
                            </button>
                           <!-- <button type="submit" ng-disabled="rowform.$waiting" title="Cancel" class="btn btn-sm btn-default">
                                <em class="fa fa-times"></em>
                            </button>-->
                        </form>
                        <div ng-show="!rowform.$visible" class="buttons">
                            <button ng-click="rowform.$show();editRow('waitFareTruck',$index)" title="Edit" class="btn btn-sm btn-info">
                                <em class="fa fa-pencil"></em>
                            </button>
                            <button ng-click="openConfirmationDialog($index,'waitFareTruck',1)" title="Delete" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash"></em>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <button ng-click="addRow('waitFareTruck')" class="btn btn-default">Add row</button>
        </tab>
</tabset>
</div>

<!-- **************************************************************************
******************* Modal to display confirmation **************************************
*******************************************************************************-->
<script type="text/ng-template" id="firstDialogId">
    <div class="ngdialog-message">
        <h4 class="text-center">Are you sure you want to delete it ?</h4>
        <div class="text-right">
            <button type="submit" class="btn btn-success" ng-click="confirmDelete(); closeThisDialog(0)">Yes</button>
            <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">No</button>
        </div>
    </div>
</script>

<!-- **************************************************************************
******************* Modal to display msg for invalid entry **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_failure_validation_msg">
    <div class="ngdialog-message">
        <h4>Oops... that was invalid entry</h4>
         <button type="submit" ng-click="$state.reload();closeThisDialog(0)" class="btn btn-success"
                 style="margin-top:20px;float:right;">OK
         </button>
        <div style="clear: both;"></div>
    </div>
</script>