<div ng-controller="subscriptionController" class="ngdialog-message"><h3 ng-bind="name"></h3>

    <h3 class="page-header" id="page-header-techServices">Existing Subsciption List
        <a ui-sref="app.addSubscription" class="btn btn-default pull-right">Add Subscription</a>
    </h3>
    <!-- Start View Add Ons Table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th hidden="">Id</th>
                            <th>No</th>
                            <th>Heading</th>
                            <th>Amount</th>
                            <th>Total Credits</th>
                            <th>Validity (days)</th>
                            <th>Subscription Type</th>
                            <!--<th>Valid Upto</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">
                            <td class="digits" hidden="">{{data._id}}</td>
                            <td>{{$index + 1}}</td>
                            <td>{{data.heading}}</td>
                            <td>{{data.amount}}</td>
                            <td>{{data.totalCredits}}</td>
                            <td>{{data.validity}}</td>
                            <td ng-click="subscriptionInfoDialog(data.subscriptionType)">Click It</td>
                            <!--<td>{{data.validUpto}}</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- **************************************************************************
******************* Modal to display Subscription Info ***********************************
*******************************************************************************-->
<script type="text/ng-template" id="subInfo">
    <div class="ngdialog-message">
        <h4>Subscription Details</h4>
            <table style="width:100%;border: none" border="none">
                <tr>
                    <th>Type</th>
                    <th>Vehical</th>
                    <th>Credits</th>
                    <th>City/Radius</th>
                </tr>
                <tr ng-repeat="data in list1">
                    <td>{{data.subscriptionType}}</td>
                    <td>{{data.vehicleType}}</td>
                    <td>{{data.credits}}</td>
                    <td>{{data.des}}</td>
                </tr>
            </table>


    </div>


</script>